@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'src/styles/_colors.scss';
@import 'src/styles/_mixins.scss';

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.error-text {
  color: #ff0000;
}

.navbar {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: $poke-blue;

  .navbar-title {
    margin-right: auto;
    
    h1 {
      color: $poke-yellow;
    }
  }

  a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: $poke-yellow;

    &:hover {
      text-decoration: underline;
    }
  }

  .active-nav {
    background-color: #333;
  }
}

.content {
  margin: 20px 80px;
  padding: 20px;
}

.container {
  .container-content {
    @include container-properties;
  }
}

.pokemon-grid-container {
  @include container-properties;
  display: grid;
  grid-template-columns: repeat(auto-fit, 183px);
  grid-gap: 24px;
  justify-content: space-between;
  align-content: flex-start;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .pokemon-grid-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 180px;
    border-radius: 16px;
    border: 2px solid $poke-blue;
    cursor: pointer;

    &:hover {
      background-color: $poke-yellow;
    }

    .pokemon-img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      img {
        max-height: 120px;
      }
    }

    .pokemon-name-container {
      text-align: center;
      width: 100%;
      padding: 4px 0;
      background-color: $poke-blue;
      border-radius: 0 0 12px 12px;

      span {
        text-decoration: none !important;
      }
    }
  }
}

.pagination-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 16px;
  background-color: $poke-yellow;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .pagination-select-container {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 36px;

    span {
      width: max-content;
      padding-bottom: 8px;
    }

    select {
      padding: 4px;
      font-size: large;
      border: none;
      background-color: #333;
      color: white;
      border-radius: 4px;
    }
  }

  .pagination-button-container {

    button {
      margin: 2px;
      width: 36px;
      height: 36px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;

      &:hover {
        background-color: #333;
        color: white;
      }
    }

    .current-page-button {
      color: white;
      background-color: $poke-blue;

      &:hover {
        background-color: $poke-blue;
      }
    }
  }
}
